<script type="text/javascript" n:syntax="double">
    $(document).ready(function () {
        $("#{{!$htmlId}}").tokenInput(


                '{{!\urldecode($link)}}',{{!$settings}}


        );
    });
</script>